
//////////////////////////////////////////
// dashboard sass
//////////////////////////////////////////


//////////////////////////////////////////
// gnb
//////////////////////////////////////////
.gnb
	@extend %clearfix
	width: 100%
	max-width: 970px
	text-align: center
	.gnb-item
		+size(20%)
		+ir
		+relative
		padding: 1rem
		float: left
		transition: all 0.2s ease-out
		color: black
		+width-from('970px')
			text-indent: 6rem
		&:after
			content: ''
			+absolute(left 0 bottom 0 right 0 top 100%)
			background: $fit-green
			transition: all 0.2s ease
		//상태디자인 필요 hover,focus, active
		&:hover, &:focus, &:active
			background-size: 2rem
			&:after
				top: 90%


@each $icon in challenge, dashboard, friend, myInfo, notification
	.gnb-item.#{$icon}
		background: url(../img/icon/#{$icon}.svg) no-repeat center
		background-size: 1.5rem


///////////////////////
// dashboard
///////////////////////
.dashboard:not(.gnb-item)
	@extend %clearfix
	background-color: $light-gray

.dashboard-section
	+relative
	width: 50%
	float: left
	border: 2px solid $light-gray
	background-color: white

	&.summary
		width: 100%
	&:after
		content: ''
		display: block
		width: 100%
		padding-bottom: 100%
	
	.dashboard-contents
		+absolute(top 0 left 0)
		width: 100%
		text-align: center
		padding-top: 2rem
		.dashboard-title
			margin-bottom: 1rem

.readable-hidden
	overflow: hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0

@media only screen and (min-width: 500px ) and (max-width: 799px )
	.dashboard-section
		width: 33.3%
	.dashboard-section.summary
		width: 66.6%

@media only screen and (min-width: 800px ) and (max-width: 1259px)
	.dashboard-section
		width: 25%
	.dashboard-section.summary
		width: 50%

+width-from('1260px')
	.dashboard-section
		width: 20%
	.dashboard-section.summary
		width: 40%

////////////////////
//section .daily
////////////////////
.daily ul
	@extend %clearfix

.daily-item
	float: left
	width: 25%
	&:first-child
		width: 100%


//////////////////////////
// svg ring graph
///////////////////////////
svg.ring-graph
	&:first-child
		+size(100px, 100px)

svg .circle
	fill: transparent
	stroke: $light-gray
	stroke-width: 0.5em
	stroke-linecap: round
	transition: stroke-dashoffset 0.8s ease-out

///////////////////////
// section .heart-rate
///////////////////////

@keyframes heartbeat
	0%, 100%
		transform: scale(0.9)
		fill: rgba(#f44, 0.5)
	50%
		transform: scale(1.3)
		fill: rgba(#E86363, 0.5)

.heart-icon
 	fill: #E86363
 	transform-origin: center
 	&.big
 		fill: rgba(#E86363, 0.3)
 		animation: heartbeat 1.5s infinite ease

.heart-rate .svg-container svg
	width: 160px
	margin:
		left: auto
		right: auto

///////////////////////
// util-btns
///////////////////////
.utils
	@extend %clearfix
	+fixed(bottom 0 left 0)
	width: 100%
	background: $light-gray
	+width-from('1260px')
		width: auto
		+absolute(top 0 right 0 left initial bottom initial)
		background: none

.util-btns
	float: right
	&> button
		+ir
		width: 4rem
		padding: 1em
		border: none

@each $icon in add, setting
	.util-btns .#{$icon}-btn
		background: url(../img/icon/#{$icon}.svg) no-repeat center
		background-size: 1.5rem





