@import 'normalize'
@import 'mixin'

a
	display: block
	text-decoration: none

button:hover
	cursor: pointer

ul
	list-style: none

html
	font: 16px/1.5 'Noto Sans', sans-serif

div, a, section, main, h1, p, ul, li
	box-sizing: border-box
	padding: 0
	margin: 0

%clearfix
	&:after
		content: ''
		display: block
		clear: both
///////////////////////////////////////
// color
///////////////////////////////////////
$light-gray: #f2f5f5
$fit-green: #55C2C2

//dashboard페이지
@import 'dashboard'

//challenge 페이지

.container
	background: $light-gray

.my-activity, .adventure, .challenge
	padding: 1rem 2rem

.my-activity-list
	@extend %clearfix

.my-activity-item
	float: left
	width: 100%
	max-width: 400px
	margin:
		right: 1rem
		bottom: 1rem
	& a
		+relative
		padding: 1rem
		border-radius: 10px
		background: #fff
		color: black
		&:active
			transform: scale(0.95)
		&:hover, &:focus
			outline: none
			&:after
				content: ''
				display: block
				border-radius: 10px
				+absolute(top 0 left 0 right 0 bottom 0)
				background-color: rgba(0,0,0,0.5)
		img
			float: left
			margin-right: 1rem
			& +*
				vertical-align: bottom

[class*="-list"]
	[class*="-title"]
		font:
			size: 1.2rem
			weight: bold


[class*="-header"]
	margin-bottom: 1em
	h1
		font-weight: bold
		margin-bottom: 0.5em
		font-size: 1.5rem
	p
		font-size: 1.2rem
		color: #888

.adventure, .challenge
	[class*="-list"]
		@extend %clearfix
		width: auto
		height: 220px
		overflow-x: scroll
		overflow-y: hidden
		white-space: nowrap
	[class*="-item"]
		display: inline-block
		margin:
			right: 1rem
		text-align: center
		a
			width: 200px
			+relative
			border-radius: 10px
			transition: all 0.2s ease
			&:after
				content: ''
				display: block
				border-radius: 10px
				padding-bottom: 100%
			&:active
				transform: scale(0.95)
			&:hover, &:focus
				outline: none
				&:after
					background-color: rgba(0,0,0,0.5)



	// @each $icon in challenge, dashboard, friend, myInfo, notification
	// .gnb-item.#{$icon}
		// background: url(../img/icon/#{$icon}.svg) no-repeat center
		// background-size: cover
.adventure-item a
	background: url(../img/challenge/myactivity.png) no-repeat center
	background-size: cover
	color: white



.adventure-title
	+absolute(left 50% top 50%)
	+size(100%)
	transform: translate(-50%, -50%)
.adventure-info
	+absolute(left 50% top 70%)
	+size(100%)
	transform: translateX(-50%)
	&:before
		content: ''
		display: inline-block
		+size(16px, 16px)
		background: url(../img/icon/foot_steps_feet.png) no-repeat center
		background-size: contain

				
.challenge-item a
	border: 1px solid darken($light-gray, 10%)
	background: url(../img/challenge/myactivity.png) no-repeat center 10%
	background-color: white
	background-size: 50%
	color: black

.challenge-title
	+horizontal-center
	top: 60%

.challenge-info
	+horizontal-center
	bottom: 1rem

[class*="-item"]:last-child.seemore a
	color: $fit-green
	background: white
	& [class*="-title"]
		top: 50%
		transform: translate(-50%,-50%)