@charset "utf-8";
.parent{
	width:200px;
}
/*fadein 슬라이드 테두리 */
a{
	text-decoration: none;
	border-bottom:1px solid currentColor;
	padding-bottom:0.125em;
	}

a:focus{outline:none;}

a[class*="slide-border"]{
position:relative;
border-bottom:none;
display: inline-block;
overflow:hidden;
vertical-align: bottom;
padding: 0.2em 0.2em;
color:hsl(158, 63%, 40%);
background-color: orange;
}

a[class*="slide-border"]::before{
	content: '';
	position:absolute;
	border-bottom:2px solid aqua;
	width:100%;
	top:94%;
	transition:all 0.2s;
/*	display: inline-block; position:absolute면 display:block됨*/
}
a.slide-border-left::before{
	left:-100%;
}
a.slide-border-left:hover::before, 
a.slide-border-left:hover:focus::before{
	left:0;
}

a.slide-border-right::before{
left:100%;
}
a.slide-border-right:hover::before,
a.slide-border-right:focus::before{
left:0;
}


a.slide-border-center::before{
	left:50%;
	right:50%;
}

a.slide-border-center:hover::before,
a.slide-border-center:focus::before{
	left:0;
	right:0;
}

a.slide-separate{
position:relative;
border-bottom:none;
color:hsl(158, 63%, 40%);
background-color: orange;
}

a.slide-separate::before{
content: '';
position:absolute;
top:30%;
right:100%;
left:0;
border-image: linear-gradient(to right, #000, green);
border-image-width: 400px 10px;
border-bottom:10px solid;
transition:all 3s;
}
a.slide-separate:hover::before,
a.slide-separate:focus::before{
right:0;
}

a.slide-separate::after{
content: '';
position:absolute;
top:70%;
right:0;
left:100%;
border-bottom:5px solid white;
transition:all 2s;
}
a.slide-separate:hover::after,
a.slide-separate:focus::after{
left:0;
}