<nav class="gnb">
  <h2 class="readable-hidden">메인 네비게이션</h2>
  <a ng-class="activeClass('/main')" href="/main" class="gnb-item dashboard">대시보드</a>
  <a ng-class="activeClass('/challenge')" href="challenge" class="gnb-item challenge">챌린지</a>
  <a ng-class="activeClass('/friend')" href="friend" class="gnb-item friend">친구</a>
  <a ng-class="activeClass('/notice')" href="notice" class="gnb-item notification">알림</a>
  <a ng-class="activeClass('/mypage')" href="mypage" class="gnb-item myInfo">계정</a>
</nav>
