body{
	background:linear-gradient(45deg, transparent 40%, lightpink 60% ) repeat center;
	background-size: 100px 100px;
}
.iphone, .part, ul, li, img, p, body{
	margin:0;
	padding:0;
}
.iphone{
	position:relative;
	left:10%;
	top:50px;
	/*
	transform:translate(-50%,-50%);*/
}

.part{
	position: absolute;
	left:0;
}

.glass{
top:0;
z-index: 10000;
}

.screen-text{
	top: 200px;
	left: 303px;
	z-index:9000;
	text-align: center;
	line-height: 250px;
}
.screen-border{
	top: 280px;
	left: 80px;
	z-index: 8000;
}
.front-black{
	top:400px;
	left: 31px;
	z-index: 7000;
}
.home-button{
	top: 820px;
	left: 140px;
	z-index: 6000;
}

.memory{
	top: 687px;
	left: 90px;
	z-index: 4000;
}
.battery{
	top: 835px;
	left: 110px;
	z-index: 3000;
}
.sim{
	top: 1329px;
	left: 705px;
	z-index: 2000;
}
.back{
	top:1000px;
	left: 50px;
	z-index: 1000;
}


.text{
	width: 250px;
	height: 260px;
	color:#efefef;
	background: rgba(100,100,100,0.8);
	transform: skew(-60deg, 30deg);
}