//환경변수
- var lang = "ko";
- var classes = ['no-js','no-sass'];
doctype html
html(lang=lang, class=classes)
include views/header.jade
body
	div.container
		h1 hihi!!@! hello!

	include views/footer.jade