.wrapper{
	width:1280px; 
	margin-left: auto;
	margin-right: auto;}

.description{
	color:#464646;
	text-align: center;
	height:inherit;
}

.description h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1875rem;
	line-height: 1.1;
	margin-top:3.4375rem;
	margin-bottom: 1.125rem;
}

.description p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom:0.8125rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.twitter{
	display: inline-block;
	width:3rem;
	height:3rem;
	padding-top: 0.9375rem;
	border-top: 1px solid #464646;
	background: url(../img/icon-twitter.svg) no-repeat center;
	background-size:40% 40%;
	text-indent: -9999rem;
}
.twitter:hover{
	background: url(../img/icon-twitter-fill.svg) no-repeat center;
	background-size:40% 40%;
}

.speaker{ 
	float: left; 
	width: 50%; }
.speaker:hover{
	background-color: #fef1e1;
}
.speaker >* {
	float: left;
	width: 50%;}

.big{
	width:100%;
}

.float-right{
	float:right;
}



