<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>수면 그래프</title>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<link rel="stylesheet" href="../../../assets/css/sleep.css">
	<style>
.yAxis line, .yAxis path{
	fill: none;
	stroke: #cdcdcd;
font-size: 13px;}
.x_axis line, .x_axis path{
	display: none;
}
.x_axis {
	font-size: 0.5em;}
	</style>

</head>
<body>
<a href="../../index.html">대시보드로 이동</a>
		<h1>7월 수면그래프</h1>
		<div class="tooltip hidden">
			<p>수면시간 <b class="value"></b></p>
		</div>

<script src="../../../assets/js/sleep_graph.js"></script>
</body>
</html>