body, h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover, a:focus {
  border-bottom: 1px solid currentColor;
}

button {
  background: none;
  border: none;
  font-size: 10px;
}

header, main, section, nav, footer, h1, h2, h3, h4, div, a, button {
  box-sizing: border-box;
}

.welcome-board-item::after, .top-nav::after {
  content: '';
  display: block;
  clear: both;
}

.top-nav button, .welcome-comment a {
  border: 1px solid #cdcdcd;
  background: linear-gradient(to bottom, #fff, #efefef);
  color: #E6171F;
  padding: 1em;
  border-radius: 3px;
}

.body-header, .top-nav, .top-nav button, .info-title {
  text-transform: uppercase;
}

.top-nav h2, .slide h3, .welcome-board h3 {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.slide .left, .slide .right, .slide-btn a, .welcome-board-title, .info h3, .sns a {
  text-indent: -999rem;
  overflow: hidden;
}

.slide .left, .slide .right {
  position: absolute;
  width: 45px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.special-menu {
  border-radius: 10px;
  box-shadow: -2px -2px 3px #ccc;
}

.welcome-board-item {
  padding: 15px 22px;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff;
}

.welcome-board-item div {
  text-align: center;
}

.welcome-board-item img {
  width: 31%;
  height: auto;
}

.nav-links .about::before, .nav-links .menu::before, .nav-links .event::before, .nav-links .comunity::before, .slide-page img, .welcome-board-title, .info h3 {
  margin-left: auto;
  margin-right: auto;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 300vh;
  background: linear-gradient(to bottom, transparent 23px, #aaff99 23px);
  background-size: 1px 24px;
}

.body-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #C30006 50%, #ED1920 50%);
  background-size: 60px 1px;
  background-repeat: repeat;
  background-position: 10px 0;
  position: relative;
  height: 48px;
  font-size: 13px;
}

.body-header a {
  color: white;
}

.body-header::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 8px;
  border-bottom: 1px solid yellow;
}

.logo {
  flex: 0 1 auto;
}

.logo h1 {
  font-size: 13px;
}

.util-link {
  flex: 0.1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.top-nav {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, #fff 50%, #ddd 50%, transparent 53%);
  background-size: 1px 100px;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  transition: all 0.2s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media (min-width: 960px) {
  .top-nav {
    background-size: 1px 144px;
  }
}

.top-nav .logo {
  flex: 0 1 auto;
  align-self: center;
  order: 1;
  position: relative;
  z-index: 1;
  background: url(../img/header-nav/center-logo.png), #fff;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.3rem;
  width: 30%;
  max-width: 192px;
  height: 96px;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media (min-width: 960px) {
  .top-nav .logo {
    max-width: 288px;
    height: 144px;
    padding: 1rem;
  }
}

.grid-btn {
  flex: 0 1 auto;
  align-self: flex-start;
  order: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.menu-btn {
  flex: 0 1 auto;
  align-self: flex-start;
  order: 2;
  margin-top: 10px;
  margin-right: 10px;
}

@media (min-width: 960px) {
  .menu-btn {
    display: none;
  }
}

.nav-links {
  display: none;
}

@media (min-width: 960px) {
  .nav-links {
    flex: 0 1 auto;
    align-self: flex-start;
    order: 2;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
  }
  .nav-links > a {
    color: red;
  }
}

.nav-links .about::before {
  width: 16px;
  height: 16px;
  content: '';
  display: block;
  background: url(../img/header-nav/about-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-links .menu::before {
  width: 16px;
  height: 16px;
  content: '';
  display: block;
  background: url(../img/header-nav/menu-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-links .event::before {
  width: 16px;
  height: 16px;
  content: '';
  display: block;
  background: url(../img/header-nav/event-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-links .comunity::before {
  width: 16px;
  height: 16px;
  content: '';
  display: block;
  background: url(../img/header-nav/comunity-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide {
  max-height: 288px;
  margin-top: -48px;
  position: relative;
  overflow: hidden;
  background: url(../img/slide/slide-bg.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 960px) {
  .slide {
    max-height: 528px;
    margin-top: -72px;
    overflow: visible;
  }
}

.slide .left {
  left: 0;
  background: url(../img/slide/left-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide .right {
  right: 0;
  background: url(../img/slide/right-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 960px) {
  .slide .left, .slide .right {
    width: 70px;
    height: 100px;
  }
}

.slide-page img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 48px;
  max-width: 530px;
}

@media (min-width: 960px) {
  .slide-page img {
    max-width: 870px;
  }
}

.slide-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-btn a {
  width: 20px;
  height: 20px;
  background: url(../img/slide/slide-dot.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-board {
  position: relative;
  color: #777;
  background-color: #fff;
}

@media (min-width: 960px) {
  .welcome-board {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: strecth;
    background: linear-gradient(to bottom, #efefef 3%, #fff 30%);
  }
}

.special-menu img {
  border: 2px solid #ccc;
  border-radius: 50%;
}

@media (min-width: 960px) {
  .welcome-board-item {
    flex: 1 1 33%;
    border-radius: 10px;
    box-shadow: 0px -5px 3px rgba(204, 204, 204, 0.5);
    line-height: 2.2;
    padding: 19px 22px;
  }
}

@media (min-width: 960px) {
  .week-event {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.welcome-board-title {
  line-height: 48px;
  background: url("../img/welcome/This-week-event news.png");
  max-width: 226px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.week-event .welcome-board-title {
  max-width: 191px;
  background-image: url("../img/welcome/Special-menu-open.png");
}

.welcome-comment .welcome-board-title {
  max-width: 250px;
  background-image: url("../img/welcome/Welcome-to-our restaurant.png");
}

.fin {
  float: right;
}

@media (min-width: 960px) {
  .welcome-comment a {
    position: absolute;
    right: 22px;
    bottom: 12px;
  }
}

.info {
  position: relative;
  padding-top: 48px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 26px;
  color: #975122;
  text-align: center;
  background: url("../img/info/bg-wood.png"), #f6d49d;
}

@media (min-width: 960px) {
  .info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 0;
  }
}

.info::before {
  content: '';
  width: 60px;
  height: 50px;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/info/riborn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 960px) {
  .info::before {
    width: 80px;
    height: 65px;
  }
}

.info h3 {
  height: 48px;
  background-image: url("../img/info/restaurant-information.png");
  max-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 960px) {
  .info h3 {
    width: 30%;
    max-width: 400px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

@media (min-width: 960px) {
  .info-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
  }
}

.info-item {
  border-radius: 3px;
  border: 1px solid #975122;
  padding: 0.5em;
  margin-bottom: 24px;
}

@media (min-width: 960px) {
  .info-item {
    flex: 0.25 1 30%;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.info-title {
  margin-bottom: 24px;
}

.image-box {
  background-image: url("../img/footer/imagebox-bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  color: #fff;
}

.image-box h3 {
  padding-top: 24px;
  padding-botton: 24px;
  font-size: 24px;
  margin-bottom: 1em;
}

@media (min-width: 960px) {
  .image-box h3 {
    padding-top: 48px;
  }
}

.image-box h3 span {
  font-weight: normal;
}

.image-box p {
  font-size: 13px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 24px;
}

@media (min-width: 960px) {
  .image-box p {
    padding-bottom: 48px;
  }
}

.body-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  color: #fff;
  font-size: 12px;
  background: linear-gradient(to right, #465970 1px, transparent 1px), linear-gradient(to bottom, #465970 1px, transparent 1px), #4B5E77;
  background-size: 20px 1px, 1px 20px, cover;
}

.body-footer .footer-contents {
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  flex: 0.6 1 60;
}

@media (min-width: 960px) {
  .body-footer {
    height: 216px;
    flex-flow: column nowrap;
  }
}

.body-footer > * {
  height: 48px;
}

.body-footer a {
  color: #fff;
}

.copyright {
  flex: 1 1 100%;
  order: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #2B2B2B;
}

@media (min-width: 960px) {
  .copyright {
    flex: 0.4 1 40%;
  }
}

.sns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 25%;
  order: 3;
}

.sns a {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5%;
}

.facebook {
  background-image: url("../img/footer/facebook-icon.png");
}

.twitter {
  background-image: url("../img/footer/twitter-icon.png");
}

.foot-links {
  flex: 1 1 100%;
  order: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px dashed #303C4B;
  padding-top: 12px;
  padding-bottom: 12px;
}

.foot-links a::before {
  background-image: url(../img/footer/check-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: bottom;
  content: '';
  width: 14px;
  height: 12px;
  margin-right: 0.2em;
}

.location {
  flex: 1 1 75%;
  order: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.location::before {
  content: '';
  flex: 1 1 100%;
  width: 20px;
  height: 30px;
  display: inline-block;
  background: url(../img/footer/location-icon.png) no-repeat center;
}

@media (min-width: 960px) {
  .location {
    flex: 0.3 1 25%;
    align-self: stretch;
    order: 1;
  }
  .foot-links {
    flex: 0.5 1 50%;
    align-self: stretch;
    order: 2;
    padding: 0;
    border-bottom: none;
    border-left: 1px dashed #303c4b;
  }
  .sns {
    flex: 0.2 1 10%;
    align-self: stretch;
    order: 3;
  }
}

/*# sourceMappingURL=../map/main.css.map */