@charset "utf-8";

figure{margin:0;}
::selection{
color:#fff;
background-color: #E6EDCF;
}
.container, .quote-box, .contents, .quotation, .source-book-title, .by-whom, .go-shop{
	box-sizing: border-box;
}
.container{
	width:1000px;
	margin-left:auto;
	margin-right: auto;
	margin-top:50px;
	font-family: "Spoqa Han Sans";
	line-height: 1.5;
	overflow:hidden;
}
.quote-box{
	width:100%;
	min-height:390px;
	background:linear-gradient(to right, transparent 50%, #78A2B4 50%);
	background-clip: content-box;
	padding-right:0.5rem;
	padding-bottom:0.5rem;
	position:relative;
	transition:all 0.5s;
}
[class="quote-box"] > .contents{
	padding:4rem;
	font-size: 1.2rem;
	line-height: 1.8;
}
[class="quote-box"] .source-book-title{
	width:18rem;

}
.quote-box:hover{
	background:linear-gradient(to right, transparent 50%, #A2B282 50%);
	background-clip: content-box;
}
.quote-box::before{
	    content: '';
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color:#A2B282;
    transform: rotate(45deg);
    left: 49%;
    top: 45%;
    transition:all 0.5s;
}
.quote-box:hover::before{
	display:inline-block;
}
.quote-box.align-right:hover::before{
	left: 42.5%;
}
.quote-box.half{width:50%; max-height:390px;}
.quote-box.half>.bookcover{padding-top:2rem;}
.quote-box, .bookcover, .contents{
	float:left;
}
.align-right{background:linear-gradient(to right, #78A2B4 48%,transparent 48%);}
.align-right> .contents, .align-right>.bookcover{float:right;}
.align-right:hover{
	background:linear-gradient(to right, #A2B282 48%,transparent 48%);
	background-clip: content-box;
}
.container::after, .quote-box::after{
	content:'';
	display: block;
	clear: both;
}
.bookcover{
	width:50%;
	height:auto;
	vertical-align: bottom;
}
.contents>*{display:block; margin-bottom:1.5rem;}
.contents{
	width:50%;
	padding: 2rem;
    text-align: center;
    line-height: 1.6;
    text-indent: 1rem;
}
.quotation{
    overflow: hidden;
    text-align: justify;
    letter-spacing: 0.03em;
    word-spacing: 0.2em;}
 .quotation::before{
 	color: #fff;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
 }
 .quotation::after{
 	 color: #fff;
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0em;
    vertical-align: -0.7em;
 }
.source-book-title{
    width: 8.9rem;
    text-indent: 0.4rem;
    text-align: right;
    position: relative;
    right:-2rem;
}
.source-book-title::before{
	content:'- ';
}
.by-whom{
	color: #fff;
	margin-left: -1rem;
}
.go-shop{
	background: url(../img/book.svg) no-repeat;
	background-position: center;
	width:32px;
	height:32px;
	text-indent: -999rem;
	position: relative;
	left:50%;
	transform:translateX(-50%);
}
.go-shop:hover{
	background: url(../img/book-white.svg) no-repeat;
	background-position: center;
}
.go-shop::before{
	content: '';
    position: absolute;
    left: -30px;
    right: -30px;
    top: -1rem;
    border-top: 1px solid #fff;
}
.go-shop::after{
	content:attr(data-linktext);
	position:absolute;
	width:10rem;
	height:1.5rem;
	color:#333;
	background-color:#acacac;
}
