//---------------------------
//*info

$info-font-color: #975122

.info
	position: relative
	padding:
		top: $leading * 2
		left: 22px
		right: 22px
		bottom: 26px
	color: $info-font-color
	text-align: center
	background: url('../img/info/bg-wood.png') 
	&::before
		content: ''
		position: absolute
		width: 60px
		height: 50px
		top: -10px
		left: 50%
		transform: translateX(-50%)
		+bg
			background-image: url('../img/info/riborn.png')

	h3
		@extend %ir
		height: $leading * 2
		+bg(70%)
			background-image: url('../img/info/restaurant-information.png')

.info-item
	border-radius: 3px
	border: 1px solid $info-font-color
	padding: 0.5em
	margin-bottom: $leading * 1

.info-title
	@extend %capitalize
	margin-bottom: 0.5em