@mixin font{
	font: #{$base-font-size}/#{$base-line-height} '#{$merriweather-font-family}', 'sans-serif';
}


//---------------------------------------------------------
// font-size가 화면 크기에따라 유동적으로 변함


$min-screen-width: 320px;
$max-screen-width: 750px;
$max-min-screen-width: $max-screen-width - $min-screen-width;

// 기준 컴포넌트 (p, span 등)의 폰트 사이즈 변화 이용
$min-basic-font-size: 13.632px;
$max-basic-font-size: 32px;
$max-min-basic-font-size: ($max-basic-font-size) - ($min-basic-font-size);

//모든 컴포넌트의 font-size는 rem단위 사용
//고정 font-size는 px단위 사용
@mixin flexible-font{
	html{
		font-size: $min-basic-font-size;

		@media (min-width: $min-screen-width) and (max-width: $max-screen-width - 1){
			font-size: calc(#{$min-basic-font-size} + #{rm-unit($max-min-basic-font-size)} * (100vw - #{$min-screen-width} / #{rm-unit($max-min-screen-width)});}

			// font-size: calc(#{$min_basic_font_size} + (#{$distance_basic_font_size / ($distance_basic_font_size * 0 + 1)} * (100vw - #{$min_screen_width}) / #{$distance_screen_width / ($distance_screen_width * 0 + 1)} ))

		@media (min-width: $max-screen-width){
			font-size: $max-basic-font-size;
		}
}
}