body{margin:0;}

.menu{
	list-style: none;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	margin:0;
	padding:0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	background: lightpink;
}
.menu-item{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: ;
}

.close{
	order: -1;
	align-self: flex-start;
}

