	.gallery_container{
			width: 100%;
			max-width: 500px;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
		.gallery_container::after{
			content: '';
			display: block;
			clear: both;
		}
		.gallery_box{
			width: 90%;
			background: lightgreen;
			float: left;
		}
		.buttons{
			width: 10%;
			padding: 0;
			box-sizing: border-box;
			float: right;
		}

		.button1, .button2, .button3{
			border: none;
			width: 2rem;
			height: 2rem;
			border-radius: 50%; 
			color: #fff;
			margin-bottom: 2rem;
			text-align: center;
			line-height: 2rem;
		}
		.button1{background: red;}
		.button2{ background: orange; }
		.button3{ background: yellow; }

		img{
			width: 100%;
			vertical-align: bottom;
		}