@charset "utf-8";


body{
	width:100%;
	min-height: 100vh;
	background: linear-gradient(180deg, #8e80ec, #5a4fb7);
	background-size: cover;
	font-family: "BMD", sans-serif;
}
.paper{
	width:710px;
	margin-left: auto;
	margin-right: auto;
	margin-top:150px;
	padding-top:50px;
	padding-bottom:50px;
	background-color: #fff;
	overflow: hidden;
}

.textbox{
    border: 5px solid #000;
    width: 520px;
    height: 800px;
    text-align: justify;
    padding: 50px 30px 20px;
    font-size: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.text{
	transform:skew(0deg, 0deg) rotate(0deg);
	animation: moving 5s infinite alternate;
	transition:all 1s;
	position: relative;
	left: 0;
	top: 0;
}
.text:hover{
	transform:skew(0deg, 0deg) rotate(-50deg);
	left:30%;
	top:-30%;
}

@keyframes moving {
	0%{ transform:skew(0deg,0deg); }
	10%{ transform:skew(10deg,0deg); }
	20%{ transform:skew(0deg,10deg); }
	50%{ transform:skew(0deg,0deg); }
	60%{ transform:skew(-10deg,0deg); }
	75%{ transform:skew(0deg,-10deg); }
	100%{ transform:skew(0deg,0deg); }
}

.man{
position:relative;
top:0;
left:0;
animation: showup 2s 1 ease;
}

@keyframes showup{
	0%{top:100%;}
	100%{top:0;}
}
.man::before, .man::after{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 160px;
    z-index: -1;
    left: 0;
    background: radial-gradient(ellipse at center, yellow 0%, transparent 50%, transparent 100%);
    animation:twinkle 0.5s infinite alternate;
}
.man::after{
	left:350px;
	top:170px;
}

@keyframes twinkle{ 
	0%{transform:scale(1);}
	100%{transform:scale(2);}
 }