@charset "utf-8";

/*mobile first*/
.container::after{content:''; clear:both; display: block;}

[class*="unit-"]{
	float: left;
	width:100%;
	box-sizing: border-box;
}

.unit-s-1-2, .unit-s-2-4, .unit-s-3-6, .unit-s-4-8, .unit-s-5-10{width:50%;}
.unit-s-1-3, .unit-s-2-6, .unit-s-3-9, .unit-s-4-12{width:33.3333%;}
.unit-s-1-4, .unit-s-2-8, .unit-s-3-12{width:25%;}
.unit-s-1-5, .unit-s-2-10{width:20%;}
.unit-s-1-6, .unit-s-2-12{width:16.666666667%;}
.unit-s-2-3, .unit-s-4-6, .unit-s-6-9, .unit-s-8-12{width:66.6666%;}
.unit-s-2-5, .unit-s-4-10{width:40%;}
.unit-s-3-4, .unit-s-6-8, .unit-s-9-12{width:75%;}
.unit-s-3-5, .unit-s-6-10{width:60%;}
.unit-s-4-5, .unit-s-8-10{width:80%;}
.unit-s-5-6, .unit-s-10-12{width:83.33333333333334%}

.unit-s-1-7{width:14.285714285714285%;}
.unit-s-2-7{width:28.57142857142857%;}
.unit-s-3-7{width:42.857142857142855%;}
.unit-s-4-7{width:57.14285714285714%;}
.unit-s-5-7{width:71.42857142857143%;}
.unit-s-6-7{width:85.71428571428571%;}

.unit-s-1-8{width:12.5%;}
.unit-s-3-8{width:37.5%;}
.unit-s-5-8{width:62.5%;}
.unit-s-7-8{width:87.5%;}

.unit-s-1-9{width:11.11111111111111%;}
.unit-s-2-9{width:22.22222222222222%;}
.unit-s-4-9{width:44.44444444444444%;}
.unit-s-5-9{width:55.55555555555556%;}
.unit-s-7-9{width:77.77777777777778%;}
.unit-s-8-9{width:88.88888888888888%;}

.unit-s-1-10{width:10%;}
.unit-s-3-10{width:30%;}
.unit-s-7-10{width:70%;}
.unit-s-9-10{width:90%;}

.unit-s-1-11{width:9.090909090909091%;}
.unit-s-2-11{width:18.181818181818182%;}
.unit-s-3-11{width:27.27272727272727%;}
.unit-s-4-11{width:36.363636363636365%;}
.unit-s-5-11{width:45.454545454545453%;}
.unit-s-6-11{width:54.54545454545454%;}
.unit-s-7-11{width:63.63636363636364%;}
.unit-s-8-11{width:72.72727272727273%;}
.unit-s-9-11{width:81.81818181818182%;}
.unit-s-10-11{width:90.90909090909091%;}

.unit-s-1-12{width:8.333333333333333%;}
.unit-s-5-12{width:41.66666666666667%;}
.unit-s-7-12{width:58.33333333333334%;}
.unit-s-11-12{width:91.66666666666666%;}



@media(min-width:600px){
.unit-m-1-2, .unit-m-2-4, .unit-m-3-6, .unit-m-4-8, .unit-m-5-10{width:50%;}
.unit-m-1-3, .unit-m-2-6, .unit-m-3-9, .unit-m-4-12{width:33.3333%;}
.unit-m-1-4, .unit-m-2-8, .unit-m-3-12{width:25%;}
.unit-m-1-5, .unit-m-2-10{width:20%;}
.unit-m-1-6, .unit-m-2-12{width:16.666666667%;}
.unit-m-2-3, .unit-m-4-6, .unit-m-6-9, .unit-m-8-12{width:66.6666%;}
.unit-m-2-5, .unit-m-4-10{width:40%;}
.unit-m-3-4, .unit-m-6-8, .unit-m-9-12{width:75%;}
.unit-m-3-5, .unit-m-6-10{width:60%;}
.unit-m-4-5, .unit-m-8-10{width:80%;}
.unit-m-5-6, .unit-m-10-12{width:83.33333333333334%}

.unit-m-1-7{width:14.285714285714285%;}
.unit-m-2-7{width:28.57142857142857%;}
.unit-m-3-7{width:42.857142857142855%;}
.unit-m-4-7{width:57.14285714285714%;}
.unit-m-5-7{width:71.42857142857143%;}
.unit-m-6-7{width:85.71428571428571%;}

.unit-m-1-8{width:12.5%;}
.unit-m-3-8{width:37.5%;}
.unit-m-5-8{width:62.5%;}
.unit-m-7-8{width:87.5%;}

.unit-m-1-9{width:11.11111111111111%;}
.unit-m-2-9{width:22.22222222222222%;}
.unit-m-4-9{width:44.44444444444444%;}
.unit-m-5-9{width:55.55555555555556%;}
.unit-m-7-9{width:77.77777777777778%;}
.unit-m-8-9{width:88.88888888888888%;}

.unit-m-1-10{width:10%;}
.unit-m-3-10{width:30%;}
.unit-m-7-10{width:70%;}
.unit-m-9-10{width:90%;}

.unit-m-1-11{width:9.090909090909091%;}
.unit-m-2-11{width:18.181818181818182%;}
.unit-m-3-11{width:27.27272727272727%;}
.unit-m-4-11{width:36.363636363636365%;}
.unit-m-5-11{width:45.454545454545453%;}
.unit-m-6-11{width:54.54545454545454%;}
.unit-m-7-11{width:63.63636363636364%;}
.unit-m-8-11{width:72.72727272727273%;}
.unit-m-9-11{width:81.81818181818182%;}
.unit-m-10-11{width:90.90909090909091%;}

.unit-m-1-12{width:8.333333333333333%;}
.unit-m-5-12{width:41.66666666666667%;}
.unit-m-7-12{width:58.33333333333334%;}
.unit-m-11-12{width:91.66666666666666%;}
}

@media(min-width:1200px){
.unit-l-1-2, .unit-l-2-4, .unit-l-3-6, .unit-l-4-8, .unit-l-5-10{width:50%;}
.unit-l-1-3, .unit-l-2-6, .unit-l-3-9, .unit-l-4-12{width:33.3333%;}
.unit-l-1-4, .unit-l-2-8, .unit-l-3-12{width:25%;}
.unit-l-1-5, .unit-l-2-10{width:20%;}
.unit-l-1-6, .unit-l-2-12{width:16.666666667%;}
.unit-l-2-3, .unit-l-4-6, .unit-l-6-9, .unit-l-8-12{width:66.6666%;}
.unit-l-2-5, .unit-l-4-10{width:40%;}
.unit-l-3-4, .unit-l-6-8, .unit-l-9-12{width:75%;}
.unit-l-3-5, .unit-l-6-10{width:60%;}
.unit-l-4-5, .unit-l-8-10{width:80%;}
.unit-l-5-6, .unit-l-10-12{width:83.33333333333334%}

.unit-l-1-7{width:14.285714285714285%;}
.unit-l-2-7{width:28.57142857142857%;}
.unit-l-3-7{width:42.857142857142855%;}
.unit-l-4-7{width:57.14285714285714%;}
.unit-l-5-7{width:71.42857142857143%;}
.unit-l-6-7{width:85.71428571428571%;}

.unit-l-1-8{width:12.5%;}
.unit-l-3-8{width:37.5%;}
.unit-l-5-8{width:62.5%;}
.unit-l-7-8{width:87.5%;}

.unit-l-1-9{width:11.11111111111111%;}
.unit-l-2-9{width:22.22222222222222%;}
.unit-l-4-9{width:44.44444444444444%;}
.unit-l-5-9{width:55.55555555555556%;}
.unit-l-7-9{width:77.77777777777778%;}
.unit-l-8-9{width:88.88888888888888%;}

.unit-l-1-10{width:10%;}
.unit-l-3-10{width:30%;}
.unit-l-7-10{width:70%;}
.unit-l-9-10{width:90%;}

.unit-l-1-11{width:9.090909090909091%;}
.unit-l-2-11{width:18.181818181818182%;}
.unit-l-3-11{width:27.27272727272727%;}
.unit-l-4-11{width:36.363636363636365%;}
.unit-l-5-11{width:45.454545454545453%;}
.unit-l-6-11{width:54.54545454545454%;}
.unit-l-7-11{width:63.63636363636364%;}
.unit-l-8-11{width:72.72727272727273%;}
.unit-l-9-11{width:81.81818181818182%;}
.unit-l-10-11{width:90.90909090909091%;}

.unit-l-1-12{width:8.333333333333333%;}
.unit-l-5-12{width:41.66666666666667%;}
.unit-l-7-12{width:58.33333333333334%;}
.unit-l-11-12{width:91.66666666666666%;}

}

/*거터모듈 .gutter*/

.gutter, .gutter-group [class*="unit-"]{
	padding-left: 1rem;
	padding-right: 1rem;
}

/*거터 없앨 때*/
.grid>.no-gutter{
	padding-left: 0;
	padding-right: 0;
}