@charset "UTF-8";
$using-sass: true;

@if using-sass == true{
	.grid-container{
		width: 100px;
		height: 50px;
		background: red;
	}
} @else {
	.grid-container {
		background: blue;
	}
}


@mixin contrast-color($color, $compare-light: 50%, $amount: 20%){
	//유효성 검사(validation)
	@if type-of($color) != color {
		@error '전달 받은 #{ $color } 값은 색상 데이터 유형이 아닙니다';
	}
	$lightness: lightness($color) > $compare-light;
	$bg-color: if($lightness,darken($color, $amount) ,lighten($color, $amount) );
	//if함수 삼항식

	// $bg-color: null;
	// @if $lightness == true{
	// $bg-color: darken($color, $amount);
	// } @else {
	// $bg-color: lighten($color, $amount);
	// }
	color: $color;
	background-color: $bg-color;
}

.test{
	@include contrast-color(#232323);
}

.test2{
	@include contrast-color(#234234);
}
.test3{	
	@include contrast-color(#555534);
}
// .test{
// 	color: 전달한 색;
// 	background: 전달한 색과 대비차가 심한 색;
// }

//@if 조건{
	//조건이 참인경우 코드 블록문이 처리(1회)
//}

//@while 조건{
	//조건이 참인경우 코드 블록문이 처리(반복)
//}


$i: 1;
$count: 24;

@function width($n){
	@return 130px * $n + 30px * ($n - 1);
}

@while $i <= $count{
	.grid .unit-#{$i} { width: width($i);}
	$i: $i + 1;
}

//---------------------------
//*@while문
// @if 문과 유사하지만, 반복 수행된다는 특징 있음

$i: 1;
$total: 12;
$unit-width: 80px;
$gutter: 20px;
$gutter-direction: after;
$fluid: true;//유동그리드
$page-width: $total * $unit-width + $gutter * ($total - 1);


%cf::after{
	display: block;
	clear: both;
	content: '';
}
%col{
	$gutter-direction: split !default;
	float: left;
	@if $gutter-direction == split{
	margin{
		left: $gutter/2;
		right: $gutter/2;}
	}
	@if $gutter-direction == before{
		margin-left: $gutter;
	} 
	@if $gutter-direction == after{
		margin-right: $gutter;
	}
	@if $gutter-direction == inside{
		padding{
			left: $gutter/2;
			right: $gutter/2;
		}
	} 
	}


// @function width($n){
// 	$w: $unit-width * $n + $gutter * ($n - 1);
// 	@return if(not $fluid ,$w, percentage($w/$page-width);
// 	}


// @while $i <= $total {
// 	.grid {
// 		@extend %cf;
// 		}
// 	.col-#{$i} {
// 		@extend %col;

// 	}
// 	}
