<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fitbit | Friends</title>
	<link href='//fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>

<nav class="gnb">
	<a href="./../index.html" class="gnb-item dashboard">대시보드</a>
	<a href="./challenge.html" class="gnb-item challenge">챌린지</a>
	<a href="./friend.html" class="gnb-item friend now-on">친구</a>
	<a href="./notice.html" class="gnb-item notification">알림</a>
	<a href="./mypage.html" class="gnb-item myInfo">계정</a>
</nav>

<main class="friend" data-ng-app="fitbitApp" data-ng-controller="friendCtrl">
	<ul class="friend-list"> 
		<li data-ng-cloak data-ng-repeat="(key, value) in friend">
		<a href="" data-ng-click=getThisUserInfo()>
			<ul class="friend-item">
				<li class="order">{{key + 1}}</li>
				<li class="thumbnail">
				<img data-ng-src="{{value.picture.thumbnail}}" alt></li>
				<li class="name">{{value.name.first | uppercase}} {{value.name.last | uppercase}}</li>
			</ul>
		</a>
		</li>
	</ul>


	<div class="friend-info" data-ng-class="show">
		<button data-ng-click="initInfo()" type="button">x</button>
		<ul class="friend-brief">
			<li><img data-ng-src="{{clicked_person.picture.medium}}" alt></li>
			<li class="name">{{clicked_person.name.first | uppercase}} {{clicked_person.name.last | uppercase}}</li>
			<li>{{clicked_person.nat}}</li>
			<li>{{clicked_person.gender}}</li>
			<li>{{clicked_person.dob.split(' ')[0]}}</li>
		</ul>
		<ul class="friend-contact">
			<li class="info-label">Contact</li>
			<li>{{clicked_person.location.state}} {{clicked_person.location.city}} {{clicked_person.location.street}}</li>
			<li><a href="mailto:{{clicked_person.email}}">{{clicked_person.email}}</a></li>
			<li><a href="tel:{{clicked_person.cell}}">{{clicked_person.cell}}</a></li>
		</ul>
		<ul class="friend-register">
			<li class="info-label">Information</li>
			<li><span class="label">USER ID</span>{{clicked_person.login.username}}</li>
			<li><span class="label">REGISTER DATE</span>{{(clicked_person.registered).split(' ')[0]}}</li>
		</ul>
	</div>
</main>

<aside class="utils">
	<div class="util-btns">
		<button type="button" class="add-btn">기록하기</button>
		<button type="button" class="setting-btn">설정하기</button>
	</div>
</aside>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>