html, body{
			height: 100%;
			width:100%;
			margin:0;
			}

.wall{
			min-height:100%;
			background-image: url("../img/background-gallery.png");
			background-size: cover;
    		background-repeat: no-repeat;
   		background-position: center;
   		padding-left: 50px;
		}

.frame{
	min-width:150px;
	width: 15vmax;
	min-height: 150px;
	height:auto;
	border-top: 10px solid #efefef;
	border-left: 7px solid #fff;
	border-right: 7px solid #fff;
	border-bottom: 10px solid #efefef;
	margin-top: 70px;
	margin-right: 60px;
	float:left; 
	box-shadow: 10px 10px 5px rgba(120,120,120, 0.5);
	background-image: url(../img/h2.jpg);
	background-size: cover;}

	.frame:hover{
	background-image: url(../img/g1.jpg);
	}